# # docker compose file for a simple web server

# services:
#   web:
#     image: nginx:alpine
#     ports:
#       - "8080:80"

services:
  database:
    image: postgres:alpine
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: mydb
    ports:
      - "5432:5432"
    volumes:
      - db-data:/var/lib/postgresql/data
volumes:
  db-data:

docker compose exec database psql -U postgres -d myapp -c "CREATE TABLE users (id SERIAL, name TEXT); INSERT INTO users (name) VALUES ('Abhi');"

