services:
  worker:
    build: .
    ports:
      - "8080:8080"
    healthchecks:
      test: ["CMD", "wget", "--no-verbose", "--tries=1", "--spider","http://localhost:8080/health"]
      interval: 10s
      timeout: 5s
      retries: 3


